h2{
    color: blue;
}
h2[class=subtitle]{
    color: purple;
}
#services{
    color: green;
}

/* li:only-child{
    color: yellow;
} */
td:first-child{
    color: red;
}
/* #google-link:link{
    color: red;
}

#google-link:visited{
    color: blue;
} */

h2 + a {
    color: orange;
}

textarea ~ button{
    color: pink;
}

ul > li{
    color: brown;
}
h2[class~=artical-subtitle]{
    background:pink;
}