body{
   background:rgb(206, 236, 230) ; 
   text-transform: capitalize;
   text-align: justify;
   font-size: 1.1em;
   font-family: sans-serif;
   font-family: 'DynaPuff', cursive,sans-serif;
}

/* body{
    background: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
} */
#title{
    color: rgb(66, 99, 63);
    font-weight: 800;
    font-family: 'DynaPuff', cursive,sans-serif;
    border: 2px solid blue;
    margin: 30px 80px;
    /* display: none; */
    
}

.subtitle{
    color: rgb(241, 185, 80);
}
#about-us-image{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    padding: 20px 50px 20px 100px;
    float: right;
}
#service-image{
    height: 400px;
    width:70%;
   /* background:linear-gradient(to right,red,blue) ; */
   background: radial-gradient(circle,red 20%,blue 30%,green 50%);
    background-size: cover;
}
.link{
    text-decoration: none;
    display: inline;
}
.italics{
    font-style: italic;
}
#about-us-image{
    height: 300px;
    width: 60%;
}
.container{
    background-color: rgb(50, 236, 26);
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}
.container-item{
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 70px;
    line-height: 50px;
    margin: 10px;
}
.grid-container {
	background-color: rgb(250,250,250);
	margin: 10px;
	height: 500px;

	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

.grid-item {
  color: rgb(180, 61, 61);
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 40px;
  margin: 10px; 
}


.submit-button {
	margin: 20px 10px;
	padding: 10px 15px;
	border: none;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;
	background: rgb(212, 133, 13);
	transform: matrix(1, 0.45, 0.45, 1, 100, 50);
	-webkit-transition: background, padding 500ms ease;
	-moz-transition: background, padding 500ms ease;
	-o-transition: background, padding 500ms ease;
}

.submit-button:hover {
	background: rgb(147, 187, 255);
	padding: 20px 30px;
}
@keyframes red-to-black {
	0% {
		background: red; 
		transform: translate(0px, 0px);
	}

	50% {
		background: yellow; 
		transform: translate(10px, 10px);
	}

	100% {
		background: black; 
		transform: translate(20px, 20px);
	}
}